---
layout: default
title: Diseño y programación de aplicaciones Web
sitemap:
priority: 0.8
changefreq: weekly
lastmod: 2014-03-20T16:00:00-03:00
---

<div id="home">
  <section class="posts">
    {% for post in site.posts %}
    <article>

      <ul class="categories-in-post"> 
        {% for category in post.categories %}
        <li>{{ category }}
          {% if category != post.categories.last %}
          <span>|</span>
          {% endif %}
        </li>
        {% endfor %} <!-- categories -->
      </ul>

        <h2><a href="{{site.github.url}}{{ post.url }}">{{ post.title }}</a></h2>

        <span class="meta">{{ post.date | date: "%-d/%m/%Y" }}</span> 

        <div class="post"><p>{{ post.excerpt | strip_html }}</p></div>

    </article>
    {% endfor %} <!-- post in posts -->
  </section>
</div>
